
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
instance/
.env
venv/
.env.*

# Flask Migrations
migrations/versions/__pycache__/
migrations/alembic.ini

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.vite/

# React build
build/
dist/
*.local

# VSCode & OS
.vscode/
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml

# Others
*.swp
*.bak
*.tmp
